body {
  margin: 0;
  font-family: sans-serif;
}

#content {
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
}

h1 {
  font-family: din-condensed, sans-serif;
  font-size: 50px;
}

h2 {
  font-family: din-condensed, sans-serif;
  font-size: 30px;
}

h3 {
  font-family: din-condensed, sans-serif;
  font-size: 24px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

#heading {
  display: flex;
  align-items: flex-end;
}

.logo {
  flex-grow: 1;
}

.search {
  margin: 0px 20px 0px 20px;
}

nav {
  margin-top: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  overflow: hidden;
  background-color: #0a3641;
}

li {
  display: inline;
  float: left;
}

li a {
  display: inline;
  background-color: #0a3641;
  color: #fff;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}

main {
  padding-top: 100px;
}

.sale {
  background: url("../images/Visuals/orange-forest.jpg");
  color: #fff;
  width: 1280px;
  height: 118px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
}

.sale h1 {
  margin-top: 0;
}

.news {
  background: url("../images/Visuals/yellow-jacket-canoe.jpg");
  color: #fff;
  width: 625px;
  height: 395px;
  float: right;
  background-position: right;
  background-repeat: no-repeat;
}

.newsletter {
  background: url("../images/Visuals/map.jpg");
  color: #fff;
  width: 625px;
  height: 395px;
  text-align: center;
  background-position: left;
  background-repeat: no-repeat;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.column {
  padding: 5px;
}

.sidenav {
  width: 250px;
  position: relative;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  float: left;
}

.sidenav h2 {
  margin-top: 0;
}

label::after {
  content: "";
  display: block;
}

.jacket-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.jacket {
  margin: 10px;
}

footer {
  width: 100%;
  background-color: #0a3641;
  margin: 0;
}

.footer-row {
  display: flex;
  max-width: 1280px;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.footer-column {
  padding: 5px;
  line-height: 50%;
}

.copyright {
  color: #fff;
  text-align: center;
  padding-bottom: 0px;
}
