body {
  margin-top: 30px;
  margin-bottom: 0px;
  margin-right: 80px;
  margin-left: 80px;
}

h1 {
  font-family: din-condensed, sans-serif;
  font-size: 50px;
}

h2 {
  font-family: din-condensed, sans-serif;
  font-size: 30px;
}

h3 {
  font-family: din-condensed, sans-serif;
  font-size: 24px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.logo {
  width: 100px;
}

.search {
  margin-left: 800px;
}

.headerlinks {
  margin-left: 1050px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0a3641;
}

li {
  display: inline;
  float: left;
}

li a {
  display: inline;
  background-color: #0a3641;
  color: #fff;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}

.sale {
  background: url("../images/Visuals/orange-forest.jpg");
  color: #fff;
  width: 1280px;
  height: 118px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
}

.news {
  background: url("../images/Visuals/yellow-jacket-canoe.jpg");
  color: #fff;
  width: 625px;
  height: 395px;
  float: right;
  background-position: right;
  background-repeat: no-repeat;
}

.newsletter {
  background: url("../images/Visuals/map.jpg");
  color: #fff;
  width: 625px;
  height: 395px;
  text-align: center;
  background-position: left;
  background-repeat: no-repeat;
}

.row {
  display: flex;
  margin-left: 45px;
}

.column {
  flex: 25%;
  padding: 5px;
}

.sidenav {
  width: 250px;
  position: relative;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 30px;
}

label::after {
  content: "";
  display: block;
}

footer {
  background-color: #0a3641;
  padding: 20px;
}

.footer-row {
  display: flex;
  margin-left: 100px;
  background-color: #0a3641;
  color: #fff;
}

.footer-column {
  flex: 25%;
  padding: 5px;
  line-height: 25%;
}
