h1,
h2,
h3,
h4 {
  font-family: din-condensed, sans-serif;
  color: #0a3641;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p,
a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #0a3641;
}

legend {
  color: #0a3641;
}

fieldset {
  background-color: #f2f2f2;
  border: none;
  line-height: 100%;
  margin-right: 50px;
}

.breadcrumb {
  margin-top: 30px;
  margin-bottom: 40px;
}

.breadcrumb p {
  display: inline;
  font-size: 16px;
}

a {
  color: #0a3641;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* HEADER */

#heading {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 2px solid #0a3641;
}

.logo {
  float: left;
  margin-bottom: 15px;
}

.search,
.headerlinks {
  display: none;
}

/* NAVIGATION */

nav {
  display: none;
}

#hamburger {
  display: none;
}

#hamburger:checked ~ nav {
  display: block;
}

#hamburger-icon {
  float: right;
  margin-top: -4em;
}

.bar1,
.bar2,
.bar3 {
  width: 50px;
  height: 8px;
  margin: 5px;
  border-radius: 5px;
  background-color: #0a3641;
}

nav ul {
  list-style-type: none;
  background-color: #0a3641;
  padding: 5px 0 15px 15px;
}

nav h2,
nav li,
nav a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* MAIN */

.sale {
  background: url("../images/Visuals/orange-forest.jpg");
  background-repeat: no-repeat;
  height: 118px;
  text-align: center;
  background-position: center;
  margin-top: 15px;
}

.sale h1,
.sale h3 {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 3px 3px #000000;
}

.btn-sale-l,
.btn-sale-r {
  display: none;
}

.newsletter {
  background: url("../images/Visuals/map.jpg");
  height: 100%;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 15px;
}

.newsletter h2 {
  color: white;
  padding: 80px 80px 20px 80px;
  text-shadow: 2px 2px #000000;
  margin-right: auto;
  margin-left: auto;
}

.text-newsletter {
  width: 213px;
  height: 20px;
  align-content: center;
  text-align: center;
  margin-bottom: 5px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: none;
}

.btn-newsletter {
  background-color: #d36900;
  border: none;
  color: white;
  padding: 15px 0px 15px 0px;
  text-align: center;
  text-shadow: none;
  text-decoration: none;
  font-size: 16px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 215px;
}

.news {
  background: url("../images/Visuals/yellow-jacket-canoe.jpg");
  color: #0a3641;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.news h2 {
  padding: 10px 40px 10px 40px;
  text-shadow: 1px 1px #fff;
}

.btn-news {
  background-color: #0a3641;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-shadow: none;
  text-decoration: none;
  font-size: 16px;
  display: block;
  float: right;
  margin-right: 30px;
  margin-top: 100px;
  width: 100px;
}

.favourites h2 {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.column {
  padding: 5px;
  margin-bottom: 15px;
}

.column img {
  margin-bottom: 5px;
}

.jacketinfo-top {
  display: block;
  float: left;
  margin-top: 0px;
}

.jacketinfo-top h4 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.jacketinfo-icons {
  margin-top: 0px;
  float: right;
}

.browse {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
}

.browse a {
  color: #0a3641;
}

/* All Jackets */

.sidenav {
  display: none;
}

#side-hamburger {
  display: none;
}

#side-hamburger:checked ~ .sidenav {
  display: block;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 5px;
}

input[type="radio"] + label {
  display: flex;
  flex-wrap: wrap;
  margin: 2px;
  cursor: pointer;
  padding: 2px;
}

input[type="radio"] + label:before {
  content: "";
  border: 1px solid #0a3641;
  border-radius: 50%;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: bottom;
  color: transparent;
  background-color: #fff;
}

input[type="radio"]:checked + label:before {
  background-color: #0a3641;
  border-color: #0a3641;
  color: #fff;
}

input[type="checkbox"] + label {
  display: inline;
  margin: 2px;
  cursor: pointer;
  padding: 2px;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content: "\2613";
  border: 1px solid #0a3641;
  border-radius: 3px;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: bottom;
  color: transparent;
  background-color: #fff;
}

input[type="checkbox"]:checked + label:before {
  background-color: #0a3641;
  border-color: #0a3641;
  color: #fff;
}

.jacket-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.jacket {
  margin: 10px;
}

.jacket img {
  margin-bottom: 5px;
}

.stars {
  float: right;
}

/* Single Jacket */

.jacket-view {
  margin: 10px;
}

.jacket-view img {
  width: 100%;
}

.jacket-mini-view img {
  width: 30%;
}

.jacket-options {
  margin: 10px;
}

.choose-colour {
  display: inline-flex;
}

.choose-size {
  display: inline-flex;
}

.color-error p,
.size-error p,
.delivery-error p,
.payment-error p,
.terms-error p,
.info-error p,
.email-error p {
  color: red !important;
}

.btn-cart {
  background-color: #1c744b;
  border: none;
  color: white;
  padding: 15px 100px;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 24px;
}

.added p {
  color: green !important;
}

.jacket-specs,
.about-jacket {
  display: none;
}

#view-more-specs,
#view-more-about {
  display: none;
}

#view-more-specs:checked ~ .jacket-specs {
  display: block;
}

#view-more-about:checked ~ .about-jacket {
  display: block;
}

.jacket-info {
  display: block;
  margin: 10px;
}

.about-jacket {
  text-align: justify;
}

.customer-section {
  display: block;
  margin: 10px;
}

.customer-reviews {
  width: 100%;
}

.star-rating {
  display: none;
}

.total-rating {
  display: -webkit-box;
}

.total-rating h2 {
  margin-top: 0;
  margin-right: 10px;
}

.btn-review {
  background-color: #d36900;
  border: none;
  color: white;
  padding: 30px;
  margin-bottom: 25px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
  width: 77%;
}

.review-title {
  display: -webkit-box;
  margin-top: 10px;
}

.review-title h3 {
  margin-top: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#review-scroll {
  overflow-y: scroll;
  height: 400px;
}

#review-scroll::-webkit-scrollbar {
  background: #f2f2f2;
}

#review-scroll::-webkit-scrollbar-thumb {
  background: #888;
}

.customer-photos {
  margin-left: 5px;
}

.customer-photos img {
  width: 100%;
}

/* Checkout */

.checkout-left {
  display: grid;
}

.cart {
  float: left;
  width: 55%;
  display: contents;
}

.cart-content {
  margin: 20px;
}

.cart-info {
  display: inline-block;
  margin-left: 25px;
  margin-top: 5px;
}

.cart-icons {
  float: right;
  display: contents;
}

.checkout-right {
  width: 100%;
  top: 0;
  margin-bottom: 0;
  margin-top: 50px;
}

.order-line {
  overflow: auto;
}

.order-line h3:first-child {
  float: left;
}

.order-line h3:last-child {
  float: right;
}

.promo-code {
  width: 200px;
  height: 30px;
  margin: 10px;
  padding-left: 5px;
}

.btn-promo {
  background-color: #0a3641;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-shadow: none;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.personal-info,
.card-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.personal-info input {
  width: 45%;
  height: 20px;
  margin: 5px;
  padding: 5px;
}

.personal-info input[name="address"] {
  width: 100%;
}

.card-info input {
  width: 45%;
  height: 20px;
  margin: 5px;
  padding: 5px;
}

.card-info input[name="cardnumber"] {
  width: 100%;
}

.card-info {
  display: none;
}

input[value="credit"]:checked ~ .card-info {
  display: flex;
}

.btn-purchase {
  background-color: #1c744b;
  border: none;
  color: white;
  padding: 15px 100px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 24px;
  cursor: pointer;
}

/* Checkout success */

.order-summary {
  width: 90%;
  line-height: 50%;
}

.checkout-success-right {
  display: inline-grid;
}

.newsletter-after {
  display: block;
}

.newsletter-after input {
  text-align: center;
  width: 95%;
}

.textbox-newsletter {
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
}

.btn-newsletter-checkout {
  background-color: #d36900;
  border: none;
  color: white;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
}

.read-about {
  background: url(../images/Visuals/green-forest.jpg);
  color: #fff;
  width: 100%;
  background-repeat: no-repeat;
}

.read-about h3 {
  color: #fff;
  text-align: center;
  padding: 30px;
  text-shadow: 1px 1px #000000;
}

/* Contact */

#contact {
  overflow: auto;
}

.contact-info {
  width: 100%;
}

.contact-info section {
  line-height: 120%;
  border-bottom-style: solid;
  border-bottom-color: #0a3641;
  border-bottom-width: 1px;
  margin-bottom: 25px;
}

.contact-icons {
  float: left;
  margin: 20px;
}

.submit {
  width: 95%;
  margin-bottom: 15px;
}

.submit input {
  width: 95%;
}

#message {
  width: 95%;
  height: 200px;
}

.submit-button {
  background-color: #0a3641;
  border: none;
  color: white;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.form-error {
  display: none;
  color: red;
  margin-bottom: 15px;
}

.submitted-form p {
  color: green;
}

/* About */

.about-image {
  margin-bottom: 30px;
}

.about-image img {
  width: 100%;
}

.about-text {
  margin: 0 10px 30px 10px;
  text-align: justify;
}

/* Wishlist */

.wishlist-row {
  display: flex;
  flex-wrap: wrap;
}

.wishlist-column {
  padding-right: 100px;
  padding-bottom: 50px;
}

.wishlist-column img {
  margin-bottom: 5px;
}

/* Profile */

#profile {
  overflow: auto;
}

.profile-recent {
  margin-bottom: 15px;
}

/* Footer */

footer {
  width: 100%;
  background-color: #0a3641;
  margin: 0;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  color: #fff;
}

.footer-column {
  padding: 25px;
  line-height: 50%;
  color: #fff;
}

.footer-column h3,
.footer-column p,
.footer-column a {
  color: #fff;
}

.copyright {
  color: #fff;
  text-align: center;
  padding-bottom: 10px;
}
